<!DOCTYPE
  web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"
>

<!-- 在web-app內加上 meta-composition="true"代表進用 @WebServlet 註釋 -->
<!-- meta-composition="true" -->
<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- url mapping java class start -->

  <servlet>
    <servlet-name>lotto</servlet-name>
    <servlet-class>servlet.LottoServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>demo</servlet-name>
    <servlet-class>servlet.Demo</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>today</servlet-name>
    <servlet-class>servlet.TodayServlet</servlet-class>
  </servlet>

  <!-- url mapping java class end -->

  <!-- url mapping class start -->

  <servlet-mapping>
    <!-- 對應 servlet name -->
    <servlet-name>hello</servlet-name>
    <!-- 網址 -->
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>demo</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>lotto</servlet-name>
    <url-pattern>/lotto</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>today</servlet-name>
    <url-pattern>/today</url-pattern>
  </servlet-mapping>

  <!-- <servlet-mapping>
    <servlet-name>lotto</servlet-name>
    <url-pattern>/lotto/hello</url-pattern>
  </servlet-mapping> -->

  <!-- 底下所有都為同一個服務 -->
  <!-- <servlet-mapping>
    <servlet-name>lotto</servlet-name>
    <url-pattern>/lotto/*</url-pattern>
  </servlet-mapping> -->

  <!-- url mapping class end -->

</web-app>
